{
  "port": 3000,
  "tmpImage": "/absolute/path/to/temp/image.jpg",
  "video": "/absolute/path/to/temp/video.h264",
  "logs": {
    "debug": "./logs/hal-api.debug.log",
    "error": "./logs/hal-api.error.log"
  }
}
